@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1371 0.036 258.5258);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1371 0.036 258.5258);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1371 0.036 258.5258);
  --primary: oklch(0.6328 0.1981 24.8183);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9703 0 0);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9703 0 0);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9703 0 0);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9342 0 0);
  --input: oklch(0.9342 0 0);
  --ring: oklch(0.6328 0.1981 24.8183);
  --chart-1: oklch(0.6328 0.1981 24.8183);
  --chart-2: oklch(0.7506 0.137 62.8073);
  --chart-3: oklch(0.7494 0.1669 155.9458);
  --chart-4: oklch(0.5905 0.2097 303.5671);
  --chart-5: oklch(0.5987 0.1773 253.7016);
  --sidebar: oklch(0.9848 0 0);
  --sidebar-foreground: oklch(0.1371 0.036 258.5258);
  --sidebar-primary: oklch(0.6328 0.1981 24.8183);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9389 0 0);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.8845 0 0);
  --sidebar-ring: oklch(0.6328 0.1981 24.8183);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(0, 10%, 20%);
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.03);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.03);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.05),
    0rem 1px 2px -1px hsl(0 10% 20% / 0.05);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.05),
    0rem 1px 2px -1px hsl(0 10% 20% / 0.05);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.05),
    0rem 2px 4px -1px hsl(0 10% 20% / 0.05);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.05),
    0rem 4px 6px -1px hsl(0 10% 20% / 0.05);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.05),
    0rem 8px 10px -1px hsl(0 10% 20% / 0.05);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 10% 20% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1371 0.036 258.5258);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1371 0.036 258.5258);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1371 0.036 258.5258);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.6328 0.1981 24.8183);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.28 0.0369 259.974);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.28 0.0369 259.974);
  --muted-foreground: oklch(0.7097 0.0355 256.7889);
  --accent: oklch(0.28 0.0369 259.974);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.28 0.0369 259.974);
  --input: oklch(0.28 0.0369 259.974);
  --ring: oklch(0.6328 0.1981 24.8183);
  --chart-1: oklch(0.6328 0.1981 24.8183);
  --chart-2: oklch(0.7506 0.137 62.8073);
  --chart-3: oklch(0.7494 0.1669 155.9458);
  --chart-4: oklch(0.5905 0.2097 303.5671);
  --chart-5: oklch(0.5987 0.1773 253.7016);
  --sidebar: oklch(0.1679 0.0531 261.9666);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.6328 0.1981 24.8183);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.28 0.0369 259.974);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.3498 0.0499 259.9372);
  --sidebar-ring: oklch(0.6328 0.1981 24.8183);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Mono", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 10%, 0%);
  --shadow-2xs: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 0.2);
  --shadow-xs: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 0.2);
  --shadow-sm: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 0.4),
    0rem 1px 2px -1px hsl(0 10% 0% / 0.4);
  --shadow: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 0.4),
    0rem 1px 2px -1px hsl(0 10% 0% / 0.4);
  --shadow-md: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 0.4),
    0rem 2px 4px -1px hsl(0 10% 0% / 0.4);
  --shadow-lg: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 0.4),
    0rem 4px 6px -1px hsl(0 10% 0% / 0.4);
  --shadow-xl: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 0.4),
    0rem 8px 10px -1px hsl(0 10% 0% / 0.4);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0rem hsl(0 10% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
